@using Social_Networking_App.Core.Domains
@{
    var events = ViewBag.EventList as IEnumerable<Event>;
}
@{
    ViewData["Title"] = "Newsfeed";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">

            <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Newsfeed"><img src="~/Template/assets/images/westcliff-logo.png" width="65px" height="50px" class="mr-3" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    
                    <li class="nav-item">                      
                        <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="DetailNotification"><i class="fa fa-bell" style="font-size:24px"></i></a>
                    </li>
                    @await Component.InvokeAsync("Notification", false)
                    <li class="nav-item" style=" margin-right: 20px; margin-left:40px;">
                        <a href="@Url.Action("Upsert", "Profile")" class="nav-link nav-icon nav-links drop-w-tooltip">
                            <img src="~/Template/assets/images/icons/navbar/create.png" alt="description of image" />
                        </a>
                    </li>
                    <li class="nav-item" style="margin-right: 20px; margin-left:20px;">
                        <a href="@Url.Action("Newsfeed", "Home")" class="nav-link nav-links">
                            <div class="menu-user-image">
                                <img src="~/@ViewBag.ImgUrl" class="menu-user-img ml-1" alt="Menu Image">
                            </div>
                        </a>
                    </li>
                    <li style=" margin-right: 20px;">
                        <partial name="~/Views/Shared/_LoginPartial.cshtml" />
                    </li>                 
                </ul>
            </div>
        </div>
    </nav>

</header>

<div class="newsfeed">
    <div class="container-fluid" id="wrapper">
        <div class="row newsfeed-size">

            <div class="row newsfeed-right-side-content mt-3">
                <div class="col-md-3 newsfeed-left-side sticky-top shadow-sm" id="sidebar-wrapper">
                    <div class="card newsfeed-user-card h-100">
                        <ul class="list-group list-group-flush newsfeed-left-sidebar">
                            <li class="list-group-item">
                                <h6>Home</h6>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center sd-active">
                                <a href="@Url.Action("Newsfeed", "Home")" class="sidebar-item"><img src="~/Template/assets/images/icons/left-sidebar/newsfeed.png" alt="newsfeed"> News Feed</a>
                                <a href="#" class="newsfeedListicon"><i class='bx bx-dots-horizontal-rounded'></i></a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="@Url.Action("Chat", "Messing")" class="sidebar-item"><img src="~/Template/assets/images/icons/left-sidebar/message.png" alt="message"> Messages</a>
                                <span class="badge badge-primary badge-pill">2</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="@Url.Action("FindFriends", "Profile")" class="sidebar-item"><img src="~/Template/assets/images/icons/left-sidebar/find-friends.png" alt="find-friends"> Find Friends</a>
                                <span class="badge badge-primary badge-pill"><i class='bx bx-chevron-right'></i></span>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-6 second-section" id="page-content-wrapper">
                    @*   <div class="mb-3">
                    <div class="btn-group d-flex">
                    <a href="index.html" class="btn btn-quick-links mr-3 ql-active">
                    <img src="~/Template/assets/images/icons/theme/speech.png" class="mr-2" alt="quick links icon">
                    <span class="fs-8">Speech</span>
                    </a>
                    <a href="messages.html" class="btn btn-quick-links mr-3">
                    <img src="~/Template/assets/images/icons/theme/listen.png" class="mr-2" alt="quick links icon">
                    <span class="fs-8">Listen</span>
                    </a>
                    <a href="watch.html" class="btn btn-quick-links">
                    <img src="~/Template/assets/images/icons/theme/watch.png" class="mr-2" alt="quick links icon">
                    <span class="fs-8">Watch</span>
                    </a>
                    </div>
                    </div> *@
                    <ul class="list-unstyled" style="margin-bottom: 0;">
                        <li class="media post-form w-shadow">
                            <div class="media-body">
                                <form asp-controller="Home" asp-action="SaveEvent" method="post">
                                    <input type="hidden" name="userName" value="@ViewBag.UserName" />
                                    <div class="form-group post-input">

                                        <textarea class="form-control" id="postForm" name="postForm" rows="2" placeholder="What's on your mind, @ViewBag.UserName ?"></textarea>
                                    </div>
                                    <div class="row post-form-group">
                                        <div class="col-md-9">
                                            <button type="button" class="btn btn-link post-form-btn btn-sm">
                                                <img src="~/Template/assets/images/icons/theme/post-image.png" alt="post form icon"> <span>Photo/Video</span>
                                            </button>
                                            <button type="button" class="btn btn-link post-form-btn btn-sm">
                                                <img src="~/Template/assets/images/icons/theme/tag-friend.png" alt="post form icon"> <span>Tag Friends</span>
                                            </button>
                                            <button type="button" class="btn btn-link post-form-btn btn-sm">
                                                <img src="~/Template/assets/images/icons/theme/check-in.png" alt="post form icon"> <span>Check In</span>
                                            </button>
                                        </div>
                                        <div class="col-md-3 text-right">
                                            <button type="submit" class="btn btn-primary btn-sm">Publish</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>

                    <!-- Posts -->
                    <div class="posts-section mb-5">
                        <div class="post border-bottom p-3 bg-white w-shadow">

                            @if (events != null && events.Any())
                            {
                                @foreach (var ev in events)
                                {
                                    <div class="media text-muted pt-3">
                                        <img src="~/Template/assets/images/users/user-8.png" alt="Online user" class="mr-3 post-user-image">
                                        <div class="media-body pb-3 mb-0 small lh-125">
                                            <div class="d-flex justify-content-between align-items-center w-100">
                                                <a href="#" class="text-gray-dark post-user-name">@ev.UserName</a>
                                                <div class="dropdown">
                                                    <a href="#" class="post-more-settings" role="button" data-toggle="dropdown" id="postOptions" aria-haspopup="true" aria-expanded="false">
                                                        <i class='bx bx-dots-horizontal-rounded'></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left post-dropdown-menu">
                                                        <a href="#" class="dropdown-item" aria-describedby="savePost">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <i class='bx bx-bookmark-plus post-option-icon'></i>
                                                                </div>
                                                                <div class="col-md-10">
                                                                    <span class="fs-9">Save post</span>
                                                                    <small id="savePost" class="form-text text-muted">Add this to your saved items</small>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="#" class="dropdown-item" aria-describedby="hidePost">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <i class='bx bx-hide post-option-icon'></i>
                                                                </div>
                                                                <div class="col-md-10">
                                                                    <span class="fs-9">Hide post</span>
                                                                    <small id="hidePost" class="form-text text-muted">See fewer posts like this</small>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="#" class="dropdown-item" aria-describedby="snoozePost">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <i class='bx bx-time post-option-icon'></i>
                                                                </div>
                                                                <div class="col-md-10">
                                                                    <span class="fs-9">Snooze Lina for 30 days</span>
                                                                    <small id="snoozePost" class="form-text text-muted">Temporarily stop seeing posts</small>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="#" class="dropdown-item" aria-describedby="reportPost">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <i class='bx bx-block post-option-icon'></i>
                                                                </div>
                                                                <div class="col-md-10">
                                                                    <span class="fs-9">Report</span>
                                                                    <small id="reportPost" class="form-text text-muted">I'm concerned about this post</small>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="d-block">@ev.CreatedDate <i class='bx bx-globe ml-3'></i></span>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <p>@ev.EventMessage</p>
                                    </div>
                                }
                            }




                            <div class="d-flex justify-content-center my-5 load-post">
                                <button type="button" class="btn btn-quick-link join-group-btn border shadow" data-toggle="tooltip" data-placement="top" data-title="Load More Post"><i class='bx bx-dots-horizontal-rounded'></i></button>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>





</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024- Developed by Shafiqul Islam Talukder - Social_Networking_App.Web - Westcliff University - DEV 640
        Web Programming II <a asp-area="" asp-controller="" asp-action=""></a>
    </div>
</footer>

<!-- END call modal -->
<!-- Core -->
<script src="~/Template/assets/js/jquery/jquery-3.3.1.min.js"></script>
<script src="~/Template/assets/js/popper/popper.min.js"></script>
<script src="~/Template/assets/js/bootstrap/bootstrap.min.js"></script>
<!-- Optional -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
@* <script type="text/javascript">
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

</script> *@
<script src="~/Template/assets/js/app.js"></script>
<script src="~/Template/assets/js/components/components.js"></script>

<!-- Add these before the closing </body> tag for JavaScript -->
